.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: margin-left 0.3s ease-in-out;
}

.main {
  flex: 1;
  overflow: hidden;
  position: relative;
}